<?xml version="1.0" encoding="UTF-8"?>
<!-- <!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd" > -->
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-3.0.xsd">
    
	<!-- <bean id="parenttriangle"  class="tutorials.lunan.spring.Triangle">
		<property name="pointA" ref="pointA"/>
	</bean>
	<bean id="triangle1"  class="tutorials.lunan.spring.Triangle" parent="parenttriangle">
		<property name="pointB" ref="pointB"/>
		<property name="pointC" ref="pointC"/>
	</bean>
	<bean id="triangle2"  class="tutorials.lunan.spring.Triangle" parent="parenttriangle">
		<property name="pointB" ref="pointB"/>
	</bean>
	<bean id="triangle" class="tutorials.lunan.spring.Triangle" autowire="byName"
		scope="prototype" init-method="myInit">
	</bean> -->

	<bean id="pointA" class="tutorials.lunan.spring.Point" scope="prototype">
		<qualifier value="circleRelated" />
		<property name="x" value="${pointA.pointX}"></property>
		<property name="y" value="${pointA.pointY}"></property>
	</bean>
	<bean id="pointB" class="tutorials.lunan.spring.Point">
		<property name="x" value="20"></property>
		<property name="y" value="0"></property>
	</bean>
	<bean id="pointC" class="tutorials.lunan.spring.Point">
		<property name="x" value="0"></property>
		<property name="y" value="30"></property>
	</bean>
	<alias name="triangle" alias="triangle-alias" />
	<!-- <bean class="tutorials.lunan.spring.MyBeanFactoryPP">	</bean> -->
	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations" value="tutorials/lunan/spring/pointsconfig.properties" />
	</bean>
	<bean id="circle" class="tutorials.lunan.spring.Circle">
		<!-- <property name="center" ref="pointA"/> -->
	</bean>
	<!-- <bean class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor" /> -->
	<context:annotation-config/>

	<!-- <bean class="org.springframework.beans.factory.annotation.RequiredAnnotationBeanPostProcessor" /> -->
</beans>